.leaflet-popup-content-wrapper {
    
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-tip-container {
}

.container-map{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}